<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cube.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <userSettings>
    <Cube.Properties.Settings>
      <setting name="ERROR_TITLE" serializeAs="String">
        <value>エラー</value>
      </setting>
      <setting name="ERROR_PASSWORD" serializeAs="String">
        <value>このファイルはパスワードで保護されています。</value>
      </setting>
    </Cube.Properties.Settings>
  </userSettings>
</configuration>
